# Config file for mime types of moreHTML
# (C)opyright by Dirk Holtwick, 1997
#
# Template: TYPE/K,EXTENSION=EXT/K,VIEWER/K
#
# Note:
#  - If VIEWER is not specified, the file will be saved
#
# ----------------------------------------------------------------

TYPE "application/octet-stream"     EXT "lzx lzh lha arj arc"
TYPE "image/gif"                    EXT "gif"                  VIEWER "multiview %s"
TYPE "image/iff"                    EXT "iff"                  VIEWER "multiview %s"
TYPE "image/jpeg"                   EXT "jpg jpeg"             VIEWER "fjpeg %s"
TYPE "text/plain"                   EXT ""                     VIEWER "more %s"

# ----------------------------------------------------------------
# End of file (EOF)

