# ------------------------------------------------------------------------------
# Config file for toolbar of moreHTML
# (C)opyright by Dirk Holtwick, 1997
#
# Template: POS=POSITION/K,TEXTMODE/S,SPACE/S,TEXT/K,COMMAND/K,KEY/K,IMAGE/K
#
# Notes:
#   - The SCRIPT option doesn't have any effect, yet.
#   - POS can have the arguments "left", "right", "top", "bottom"
#   - POS has to be specified before other commands
#   - TEXTMODE suppresses image display
#   - Descriptions of one button have to be in the same line
# ------------------------------------------------------------------------------

POSITION "top"
#TEXTMODE

# ------------------------------------------------------------------------------
# Here starts the description of the buttons:
# ------------------------------------------------------------------------------

TEXT  "Back"        KEY b   COMMAND "BACK"      IMAGE progdir:images/def_back       HELP "Go to previous page"
TEXT  "Forward"     KEY f   COMMAND "FORWARD"   IMAGE progdir:images/def_forward    HELP "Go to following page"
TEXT  "Reload"      KEY r   COMMAND "RELOAD"    IMAGE progdir:images/def_reload     HELP "Reload current page"
SPACE
TEXT  "Find"        KEY f   COMMAND "FIND"      IMAGE progdir:images/def_search     HELP "Find text in current page"
SPACE
TEXT  "Open"        KEY o   COMMAND "OPEN"      IMAGE progdir:images/def_open       HELP "Open local document"
TEXT  "Save"        KEY s   COMMAND "SAVE"      IMAGE progdir:images/def_save       HELP "Save document source"
TEXT  "Print"       KEY p   COMMAND "PRINT"     IMAGE progdir:images/def_print      HELP "Print current page"
TEXT  "View"        KEY v   COMMAND "VIEW"      IMAGE progdir:images/def_view       HELP "View documents source"
TEXT  "Edit"        KEY e   COMMAND "EDIT"      IMAGE progdir:images/def_edit       HELP "Edit documents source"

# ------------------------------------------------------------------------------
# End of file (EOF)

