<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>obj:trashObj</key>
	<dict>
		<key>comment</key>
		<string>needed for correct flow in xml code </string>
		<key>name</key>
		<string>trash</string>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:alrtText</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:alrtSoth</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>41</integer>
	</dict>
	<key>obj:alrtWest</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:alrtNrth</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:alrtEast</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:emptyObj</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:scrlCtrl</key>
	<dict>
		<key>Comment</key>
		<string>controllerObject</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>0</string>
	</dict>
	<key>obj:vfxCntrl</key>
	<dict>
		<key>Comment</key>
		<string>controllerObject</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>0</string>
	</dict>
	<key>obj:exitStge</key>
	<dict>
		<key>Comment</key>
		<string>exit Stage Object</string>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:meteoCtr</key>
	<dict>
		<key>Comment</key>
		<string>controllerObject</string>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>0</string>
	</dict>
	<key>obj:bPlyShtA</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>16</integer>
		<key>sprite</key>
		<integer>1</integer>
	</dict>
	<key>obj:bPlyShA1</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>7</integer>
	</dict>
	<key>obj:bPlyShA2</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>13</integer>
	</dict>
	<key>obj:bPlyShA3</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>19</integer>
	</dict>
	<key>obj:bPlyShtB</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>16</integer>
		<key>sprite</key>
		<integer>2</integer>
	</dict>
	<key>obj:bPlyShB1</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>8</integer>
	</dict>
	<key>obj:bPlyShB2</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>14</integer>
	</dict>
	<key>obj:bPlyShB3</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>20</integer>
	</dict>
	<key>obj:bPlyShtC</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>16</integer>
		<key>sprite</key>
		<integer>3</integer>
	</dict>
	<key>obj:bPlyShC1</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>9</integer>
	</dict>
	<key>obj:bPlyShC2</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>15</integer>
	</dict>
	<key>obj:bPlyShC3</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>21</integer>
	</dict>
	<key>obj:bPlyShtD</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>16</integer>
		<key>sprite</key>
		<integer>4</integer>
	</dict>
	<key>obj:bPlyShD1</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>10</integer>
	</dict>
	<key>obj:bPlyShD2</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>16</integer>
	</dict>
	<key>obj:bPlyShD3</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>22</integer>
	</dict>
	<key>obj:bPlyShtE</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>16</integer>
		<key>sprite</key>
		<integer>5</integer>
	</dict>
	<key>obj:bPlyShE1</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>11</integer>
	</dict>
	<key>obj:bPlyShE2</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>17</integer>
	</dict>
	<key>obj:bPlyShE3</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>23</integer>
	</dict>
	<key>obj:bPlyShtF</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>16</integer>
		<key>sprite</key>
		<integer>6</integer>
	</dict>
	<key>obj:bPlyShF1</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>12</integer>
	</dict>
	<key>obj:bPlyShF2</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>18</integer>
	</dict>
	<key>obj:bPlyShF3</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>24</integer>
	</dict>
	<key>obj:tileAniA</key>
	<dict>
		<key>Comment</key>
		<string>Eye animation</string>
		<key>name</key>
		<string>tileAnimEye_l4</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>12</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:tricerL0</key>
	<dict>
		<key>name</key>
		<string>tricerL0</string>
		<key>width</key>
		<integer>96</integer>
		<key>height</key>
		<integer>60</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:tricerR0</key>
	<dict>
		<key>name</key>
		<string>tricerR0</string>
		<key>width</key>
		<integer>96</integer>
		<key>height</key>
		<integer>60</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:tricerR1</key>
	<dict>
		<key>name</key>
		<string>tricerR1</string>
		<key>width</key>
		<integer>96</integer>
		<key>height</key>
		<integer>88</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:tricerR2</key>
	<dict>
		<key>name</key>
		<string>tricerR2</string>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>112</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:tricerR3</key>
	<dict>
		<key>name</key>
		<string>tricerR3</string>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>128</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:shelHubR</key>
	<dict>
		<key>name</key>
		<string>shellHubR_l4</string>
		<key>width</key>
		<integer>32</integer>
		<key>height</key>
		<integer>30</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>500</string>
	</dict>
	<key>obj:shelHubL</key>
	<dict>
		<key>name</key>
		<string>shellHubL_l4</string>
		<key>width</key>
		<integer>32</integer>
		<key>height</key>
		<integer>30</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>500</string>
	</dict>
	<key>obj:debrsCtl</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>0</string>
	</dict>
	<key>obj:debrsObj</key>
	<dict>
		<key>Comment</key>
		<string>Spawn Explosion Debris</string>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:debris_2</key>
	<dict>
		<key>Comment</key>
		<string>player ship explodes</string>
		<key>name</key>
		<string>debris_2l0</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>2</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:debris_3</key>
	<dict>
		<key>Comment</key>
		<string>player ship explodes</string>
		<key>name</key>
		<string>debris_3l0</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>3</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:debris_4</key>
	<dict>
		<key>Comment</key>
		<string>player ship explodes</string>
		<key>name</key>
		<string>debris_4l0</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>4</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:expl_lrg</key>
	<dict>
		<key>name</key>
		<string>expl64l4</string>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>62</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>New item</key>
		<string></string>
	</dict>
	<key>obj:expl_med</key>
	<dict>
		<key>name</key>
		<string>expl32l4</string>
		<key>width</key>
		<integer>32</integer>
		<key>height</key>
		<integer>30</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:expl_sml</key>
	<dict>
		<key>name</key>
		<string>expl16l4</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:waveBnsA</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>25</integer>
	</dict>
	<key>obj:waveBnsB</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>26</integer>
	</dict>
	<key>obj:chainObA</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>27</integer>
	</dict>
	<key>obj:chainObB</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>28</integer>
	</dict>
	<key>obj:tutPwrUA</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>37</integer>
	</dict>
	<key>obj:tutPwrUB</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>38</integer>
	</dict>
	<key>obj:tutSpdUA</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>35</integer>
	</dict>
	<key>obj:tutSpdUB</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>36</integer>
	</dict>
	<key>obj:tilterFV</key>
	<dict>
		<key>name</key>
		<string>tilterUDl4</string>
		<key>width</key>
		<integer>32</integer>
		<key>height</key>
		<integer>25</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>500</string>
	</dict>
	<key>obj:doblClaw</key>
	<dict>
		<key>name</key>
		<string>doubleClaw_l4</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>15</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>500</string>
	</dict>
	<key>obj:krakSpik</key>
	<dict>
		<key>Comment</key>
		<string>16 anim frames</string>
		<key>name</key>
		<string>krakenSpiker</string>
		<key>width</key>
		<integer>32</integer>
		<key>height</key>
		<integer>30</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>2</string>
	</dict>
	<key>obj:crabAtak</key>
	<dict>
		<key>Comment</key>
		<string>4 anim frames</string>
		<key>name</key>
		<string>crab</string>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>57</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>2000</string>
	</dict>
	<key>obj:circLsrA</key>
	<dict>
		<key>name</key>
		<string>circLsrA4</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>14</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:bossCtrl</key>
	<dict>
		<key>Comment</key>
		<string></string>
		<key>name</key>
		<string>riglMain4</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>18</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>5000</string>
	</dict>
	<key>obj:riglBody</key>
	<dict>
		<key>name</key>
		<string>riglBody4</string>
		<key>width</key>
		<integer>32</integer>
		<key>height</key>
		<integer>39</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>1000</string>
	</dict>
	<key>obj:mechMedC</key>
	<dict>
		<key>width</key>
		<integer>32</integer>
		<key>height</key>
		<integer>39</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>5000</string>
	</dict>
	<key>obj:mechVinX</key>
	<dict>
		<key>name</key>
		<string>mechViensEx_l1</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>19</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>150</string>
	</dict>
	<key>obj:spikMine</key>
	<dict>
		<key>name</key>
		<string>spikMine_l4</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>14</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>250</string>
	</dict>
	<key>obj:riglAnch</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:riglWest</key>
	<dict>
		<key>name</key>
		<string>riglWest4</string>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>67</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>1000</string>
	</dict>
	<key>obj:mechMedL</key>
	<dict>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>67</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>1000</string>
	</dict>
	<key>obj:riglEast</key>
	<dict>
		<key>name</key>
		<string>riglEast4</string>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>66</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>1000</string>
	</dict>
	<key>obj:mechMedR</key>
	<dict>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>66</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>1000</string>
	</dict>
	<key>obj:meteoMed</key>
	<dict>
		<key>Comment</key>
		<string>8 frames</string>
		<key>name</key>
		<string>meteo_l4</string>
		<key>width</key>
		<integer>32</integer>
		<key>height</key>
		<integer>32</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>250</string>
	</dict>
	<key>obj:sunErpR1</key>
	<dict>
		<key>name</key>
		<string>eruptR0_l4</string>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>74</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:sunErpL1</key>
	<dict>
		<key>name</key>
		<string>eruptL0_l4</string>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>74</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:sunErpL2</key>
	<dict>
		<key>name</key>
		<string>eruptL2_l4</string>
		<key>width</key>
		<integer>96</integer>
		<key>height</key>
		<integer>80</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:sunErpL3</key>
	<dict>
		<key>name</key>
		<string>eruptL3_l4</string>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>152</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:sunErpL4</key>
	<dict>
		<key>name</key>
		<string>eruptL4_l4</string>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>200</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:sunErpL5</key>
	<dict>
		<key>name</key>
		<string>eruptL5_l4</string>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>224</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:sunErpL6</key>
	<dict>
		<key>name</key>
		<string>eruptL6_l4</string>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>216</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:sunErpL7</key>
	<dict>
		<key>name</key>
		<string>eruptL7_l4</string>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>184</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:sunErpL8</key>
	<dict>
		<key>name</key>
		<string>eruptL8_l4</string>
		<key>width</key>
		<integer>96</integer>
		<key>height</key>
		<integer>104</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:tentHead</key>
	<dict>
		<key>Comment</key>
		<string>TentacleLauncher</string>
		<key>name</key>
		<string>tentHead_l4</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>15</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>100</string>
	</dict>
	<key>obj:tentBase</key>
	<dict>
		<key>Comment</key>
		<string>worms base</string>
		<key>name</key>
		<string>tentBase_l4</string>
		<key>width</key>
		<integer>24</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>750</string>
	</dict>
	<key>obj:tentTube</key>
	<dict>
		<key>Comment</key>
		<string>worms tentacle</string>
		<key>name</key>
		<string>tentBody_l4</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>14</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>100</string>
	</dict>
	<key>obj:crabSpin</key>
	<dict>
		<key>Comment</key>
		<string></string>
		<key>name</key>
		<string>crabSpin_l4</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>50</string>
	</dict>
	<key>obj:krak1615</key>
	<dict>
		<key>Comment</key>
		<string></string>
		<key>name</key>
		<string>kraken1615</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>15</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>25</string>
	</dict>
	<key>obj:weapupgr</key>
	<dict>
		<key>Comment</key>
		<string>weapon upgrade</string>
		<key>name</key>
		<string>collect_weap</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:spedupgr</key>
	<dict>
		<key>Comment</key>
		<string>weapon upgrade</string>
		<key>name</key>
		<string>collect_sped</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:weapdstr</key>
	<dict>
		<key>Comment</key>
		<string>weapon destroy</string>
		<key>width</key>
		<integer>0</integer>
		<key>height</key>
		<integer>0</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:instSpwn</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>39</integer>
	</dict>
	<key>obj:pauseMsg</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>45</integer>
	</dict>
	<key>obj:bigShtX1</key>
	<dict>
		<key>Comment</key>
		<string>big enemy shot</string>
		<key>width</key>
		<integer>8</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>34</integer>
	</dict>
	<key>obj:bigShtX2</key>
	<dict>
		<key>Comment</key>
		<string>big enemy shot</string>
		<key>width</key>
		<integer>8</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>33</integer>
	</dict>
	<key>obj:biggShot</key>
	<dict>
		<key>Comment</key>
		<string>big enemy shot</string>
		<key>width</key>
		<integer>8</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>32</integer>
	</dict>
	<key>obj:enemShot</key>
	<dict>
		<key>Comment</key>
		<string>simple enemy shot</string>
		<key>width</key>
		<integer>4</integer>
		<key>height</key>
		<integer>4</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>31</integer>
	</dict>
	<key>obj:eneShtX1</key>
	<dict>
		<key>Comment</key>
		<string>enemy shot Exit</string>
		<key>width</key>
		<integer>0</integer>
		<key>height</key>
		<integer>0</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>29</integer>
	</dict>
	<key>obj:eneShtX2</key>
	<dict>
		<key>Comment</key>
		<string>enemy shot Exit</string>
		<key>width</key>
		<integer>0</integer>
		<key>height</key>
		<integer>0</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>30</integer>
	</dict>
	<key>obj:dialgHro</key>
	<dict>
		<key>name</key>
		<string>dialogue_hero_4</string>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>46</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:dialgBad</key>
	<dict>
		<key>name</key>
		<string>dialogue_baddie_4</string>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>46</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:esclThis</key>
	<dict>
		<key>Comment</key>
		<string>escalation</string>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:esclQuit</key>
	<dict>
		<key>Comment</key>
		<string>escalation ended</string>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
