<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>obj:trashObj</key>
	<dict>
		<key>comment</key>
		<string>needed for correct flow in xml code </string>
		<key>name</key>
		<string>trash</string>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:emptyObj</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:scrlCtrl</key>
	<dict>
		<key>Comment</key>
		<string>controllerObject</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
		<key>score</key>
		<string>0</string>
	</dict>
	<key>obj:testOb16</key>
	<dict>
		<key>Comment</key>
		<string>16 pixels, 16 colors</string>
		<key>name</key>
		<string>palete16</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:testOb32</key>
	<dict>
		<key>Comment</key>
		<string>32 pixels, 16 colors</string>
		<key>name</key>
		<string>palete32</string>
		<key>width</key>
		<integer>32</integer>
		<key>height</key>
		<integer>32</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:testOb64</key>
	<dict>
		<key>Comment</key>
		<string>32 pixels, 16 colors</string>
		<key>name</key>
		<string>palete64</string>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>32</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:exitStge</key>
	<dict>
		<key>Comment</key>
		<string>exit Stage Object</string>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:outroMng</key>
	<dict>
		<key>Comment</key>
		<string>outro Handler</string>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:bPlyShtA</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>16</integer>
		<key>sprite</key>
		<integer>1</integer>
	</dict>
	<key>obj:bPlyShA1</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>7</integer>
	</dict>
	<key>obj:bPlyShA2</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>13</integer>
	</dict>
	<key>obj:bPlyShA3</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>19</integer>
	</dict>
	<key>obj:bPlyShtB</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>16</integer>
		<key>sprite</key>
		<integer>2</integer>
	</dict>
	<key>obj:bPlyShB1</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>8</integer>
	</dict>
	<key>obj:bPlyShB2</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>14</integer>
	</dict>
	<key>obj:bPlyShB3</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>20</integer>
	</dict>
	<key>obj:bPlyShtC</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>16</integer>
		<key>sprite</key>
		<integer>3</integer>
	</dict>
	<key>obj:bPlyShC1</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>9</integer>
	</dict>
	<key>obj:bPlyShC2</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>15</integer>
	</dict>
	<key>obj:bPlyShC3</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>21</integer>
	</dict>
	<key>obj:bPlyShtD</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>16</integer>
		<key>sprite</key>
		<integer>4</integer>
	</dict>
	<key>obj:bPlyShD1</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>10</integer>
	</dict>
	<key>obj:bPlyShD2</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>16</integer>
	</dict>
	<key>obj:bPlyShD3</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>22</integer>
	</dict>
	<key>obj:bPlyShtE</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>16</integer>
		<key>sprite</key>
		<integer>5</integer>
	</dict>
	<key>obj:bPlyShE1</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>11</integer>
	</dict>
	<key>obj:bPlyShE2</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>17</integer>
	</dict>
	<key>obj:bPlyShE3</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>23</integer>
	</dict>
	<key>obj:bPlyShtF</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>16</integer>
		<key>sprite</key>
		<integer>6</integer>
	</dict>
	<key>obj:bPlyShF1</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>12</integer>
	</dict>
	<key>obj:bPlyShF2</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>18</integer>
	</dict>
	<key>obj:bPlyShF3</key>
	<dict>
		<key>width</key>
		<integer>63</integer>
		<key>height</key>
		<integer>24</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>24</integer>
	</dict>
	<key>obj:weapupgr</key>
	<dict>
		<key>Comment</key>
		<string>weapon upgrade</string>
		<key>name</key>
		<string>collect_weap</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:spedUpgr</key>
	<dict>
		<key>Comment</key>
		<string>weapon upgrade</string>
		<key>name</key>
		<string>collect_sped</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>16</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:weapdstr</key>
	<dict>
		<key>Comment</key>
		<string>weapon destroy</string>
		<key>width</key>
		<integer>0</integer>
		<key>height</key>
		<integer>0</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:bigShtX1</key>
	<dict>
		<key>Comment</key>
		<string>big enemy shot</string>
		<key>width</key>
		<integer>8</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>34</integer>
	</dict>
	<key>obj:bigShtX2</key>
	<dict>
		<key>Comment</key>
		<string>big enemy shot</string>
		<key>width</key>
		<integer>8</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>33</integer>
	</dict>
	<key>obj:biggShot</key>
	<dict>
		<key>Comment</key>
		<string>big enemy shot</string>
		<key>width</key>
		<integer>8</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>32</integer>
	</dict>
	<key>obj:enemShot</key>
	<dict>
		<key>Comment</key>
		<string>simple enemy shot</string>
		<key>width</key>
		<integer>4</integer>
		<key>height</key>
		<integer>4</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>31</integer>
	</dict>
	<key>obj:eneShtX1</key>
	<dict>
		<key>Comment</key>
		<string>enemy shot Exit</string>
		<key>width</key>
		<integer>0</integer>
		<key>height</key>
		<integer>0</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>29</integer>
	</dict>
	<key>obj:eneShtX2</key>
	<dict>
		<key>Comment</key>
		<string>enemy shot Exit</string>
		<key>width</key>
		<integer>0</integer>
		<key>height</key>
		<integer>0</integer>
		<key>attribs</key>
		<integer>0</integer>
		<key>sprite</key>
		<integer>30</integer>
	</dict>
	<key>obj:pauseMsg</key>
	<dict>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>8</integer>
		<key>attribs</key>
		<integer>64</integer>
		<key>sprite</key>
		<integer>45</integer>
	</dict>
	<key>obj:esclThis</key>
	<dict>
		<key>Comment</key>
		<string>escalation</string>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
	<key>obj:esclQuit</key>
	<dict>
		<key>Comment</key>
		<string>escalation ended</string>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>attribs</key>
		<integer>32</integer>
		<key>sprite</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
