<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anim:uselessTemplate</key>
	<dict/>
	<key>anim:emtyAnim</key>
	<dict>
		<key>Comment</key>
		<string>prototype boss test</string>
		<key>init</key>
		<dict>
			<key>object</key>
			<string>emptyObj</string>
			<key>xAcc</key>
			<integer>0</integer>
			<key>yAcc</key>
			<integer>0</integer>
			<key>duration</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>anim:scrlCtrl</key>
	<dict>
		<key>Comment</key>
		<string>scroller controller</string>
		<key>slowDown</key>
		<dict>
			<key>object</key>
			<string>scrlCtrl</string>
			<key>xAcc</key>
			<integer>0</integer>
			<key>yAcc</key>
			<integer>0</integer>
			<key>duration</key>
			<integer>10</integer>
			<key>code</key>
			<string>trig1025</string>
		</dict>
		<key>waitLoop</key>
		<dict>
			<key>object</key>
			<string></string>
			<key>xAcc</key>
			<integer>0</integer>
			<key>yAcc</key>
			<integer>0</integer>
			<key>duration</key>
			<integer>1</integer>
			<key>code</key>
			<string>rept0</string>
		</dict>
		<key>loop</key>
		<dict>
			<key>object</key>
			<string></string>
			<key>xAcc</key>
			<integer>0</integer>
			<key>yAcc</key>
			<integer>0</integer>
			<key>duration</key>
			<integer>20</integer>
			<key>code</key>
			<string>loop</string>
		</dict>
		<key>accelerate</key>
		<dict>
			<key>object</key>
			<string></string>
			<key>xAcc</key>
			<integer>0</integer>
			<key>yAcc</key>
			<integer>0</integer>
			<key>duration</key>
			<integer>0</integer>
			<key>code</key>
			<string>trig1286</string>
		</dict>
		<key>exit</key>
		<dict>
			<key>object</key>
			<string></string>
			<key>xAcc</key>
			<integer>0</integer>
			<key>yAcc</key>
			<integer>0</integer>
			<key>duration</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>anim:pauseMsg</key>
	<dict>
		<key>init</key>
		<dict>
			<key>object</key>
			<string>pauseMsg</string>
			<key>xAcc</key>
			<integer>0</integer>
			<key>yAcc</key>
			<integer>0</integer>
			<key>duration</key>
			<integer>1</integer>
		</dict>
		<key>quit</key>
		<dict>
			<key>object</key>
			<string>emptyObj</string>
			<key>xAcc</key>
			<integer>0</integer>
			<key>yAcc</key>
			<integer>0</integer>
			<key>duration</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>anim:exitStge</key>
	<dict>
		<key>initObj</key>
		<dict>
			<key>object</key>
			<string>exitStge</string>
			<key>xAcc</key>
			<integer>0</integer>
			<key>yAcc</key>
			<integer>0</integer>
			<key>duration</key>
			<integer>0</integer>
			<key>code</key>
			<string>trig1542</string>
		</dict>
		<key>initCredits</key>
		<dict>
			<key>object</key>
			<string></string>
			<key>xAcc</key>
			<integer>0</integer>
			<key>yAcc</key>
			<integer>0</integer>
			<key>duration</key>
			<integer>1</integer>
			<key>code</key>
			<string>trig1547</string>
		</dict>
		<key>initScroller</key>
		<dict>
			<key>object</key>
			<string></string>
			<key>xAcc</key>
			<integer>0</integer>
			<key>yAcc</key>
			<integer>0</integer>
			<key>duration</key>
			<integer>1</integer>
			<key>code</key>
			<string>rept43</string>
		</dict>
		<key>runScrollerLoop</key>
		<dict>
			<key>object</key>
			<string></string>
			<key>xAcc</key>
			<integer>0</integer>
			<key>yAcc</key>
			<integer>0</integer>
			<key>duration</key>
			<integer>255</integer>
			<key>code</key>
			<string>loop</string>
		</dict>
		<key>initTransition</key>
		<dict>
			<key>object</key>
			<string></string>
			<key>xAcc</key>
			<integer>0</integer>
			<key>yAcc</key>
			<integer>0</integer>
			<key>duration</key>
			<integer>1</integer>
			<key>code</key>
			<string>trig1541</string>
		</dict>
		<key>transitionAndExit</key>
		<dict>
			<key>object</key>
			<string></string>
			<key>xAcc</key>
			<integer>0</integer>
			<key>yAcc</key>
			<integer>0</integer>
			<key>duration</key>
			<integer>255</integer>
		</dict>
	</dict>
</dict>
</plist>
